@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700");

body {
  font-family: Poppins;
  padding: 0;
  margin: 0;
  max-height: 100vh;
}

html,
body,
#root {
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.home-main-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-basis: auto;
  padding: 5em 2em 4em 2em;
}

.home-main-section .title-section {
  font-size: clamp(1.4rem, 2.5vw, 2rem);
  font-weight: bold;
  max-width: 40vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  margin: 0;
  max-width: 500px;
}

.container .buy-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  font-size: 20px;
  margin: 2.8em 2em 2.8em 0;
  padding: 0.7em 5em;
  font-family: inherit;
  box-sizing: border-box;
  background-color: #d52b1e;
  font-weight: bold;
  color: #ffffff;
  border-radius: 16px;
  border: 0;
  cursor: pointer;
}

.home-main-section .image-section {
  background-image: url("../images/strat-main-photo.png");
  flex-grow: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  box-sizing: border-box;
  min-width: 30vw;
  max-height: 37vh;
  height: auto;
}

@media screen and (max-width: 725px) {
  .home-main-section {
    flex-direction: column;
    justify-content: flex-start;

    padding: 2em 1em 2em 1em;
  }

  .title {
    align-items: center;
  }

  .home-main-section .image-section {
    min-height: 20vh;
    margin: 2em 0 0 0;
  }

  .container .buy-btn {
    font-size: 18px;
    margin: 2.5em 1em;
  }
}