.main-footer {
  font-size: 1rem;
  background-color: #212529;
  color: #ffffff;
  min-height: 38vh;
}

.footer-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-col li {
  list-style: none;
}

.footer-col {
  flex-grow: 1;
  border-top: 1px solid #676666;
  min-width: 16vw;
  max-width: 28vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1.5em 2.5em;
  padding: 0;
}

.col-heading {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1.2em 0;
}

.footer-item {
  padding: .5em 0;
  font-weight: 300;
}

.footer-item a {
  text-decoration: none;
  color: #ffffff;
}

.footer-item a:hover {
  color: #9b9b9b;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 970px) {
  .footer-row {
    justify-content: flex-start;
  }

  .footer-col {
    width: 50vw;
    min-width: 30vw;
  }
}

@media screen and (max-width: 650px) {
  .main-footer {
    margin: 0;
  }

  .footer-row {
    margin: 0;
    justify-content: center;
  }

  .footer-col {
    width: 50vw;
    min-width: 40vw;
    margin: 1em .7em;
  }
}