.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-size: 1.2rem;
  position: sticky;
  z-index: 999;
  top: 0;
  height: 95px;
}

.navbar-img {
  cursor: pointer;
  text-decoration: none;
  width: 18vw;
  min-width: 200px;
  max-width: 260px;
  box-sizing: border-box;
  padding: 2em 2em;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-links {
  color: #676666;
  text-decoration: none;
  padding: 0rem 1.2rem;
}

.nav-links:hover {
  color: #9b9b9b;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #000000;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .navbar {
    justify-content: center;
    height: 80px;
  }

  .nav-menu {
    display: inline-block;
    font-weight: 700;
    overflow: scroll;
    backface-visibility: hidden;
    color: #666;
    vertical-align: top;
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    height: auto;
    z-index: 1000;
    padding: 0;
    transition: left 0.5s ease;
    background-color: #fff;
    background-color: #f9f9f9;
  }

  .nav-menu.active {
    background: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    width: 100%;
  }

  .nav-links {
    border-top: 1px solid #4a4a4a;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    color: #676666;
    margin: 0 2em;
  }

  .nav-links:hover {
    background-color: #d52b1e;
    color: #ffffff;
  }

  .navbar-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    min-width: 100px;
    padding: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: -7.5px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #000000;
    font-size: 2rem;
  }

  button {
    display: none;
  }
}
